@use '~bootstrap/scss/bootstrap';
.ad_log_in{ background-color: #C0C0C0; width:150px;
}
.pb_log_in{ background-color: #C0C0C0; width:80px;
}
.pb_log{ background-color: #C0C0C0; width:300px;
}
.pb{ background-color: #C0C0C0; width:200px;
}

